*{
    background-color: cadetblue;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    max-height: 100vh;
    
   
}

.container > .mainTitle{
    background-color: rgb(155, 200, 155);
    width: 50vw;
    max-width: 75vw;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    flex-grow: 2;
    border-radius: 15px;
    border-style:double;
    border-color: grey;

}   
.container > .options{
    width: 50vw;
    max-width: 75vw;
    height:55vh;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    flex-grow: 2;
    border-radius:15px;
}
button{
    background-color: rgb(155, 200, 155);
    width: 50vw;
    max-width: 75vw;
    height: 7.5vh;
    text-align: center;
    font-size: 25px;
    flex-grow: 2;
    border-radius: 15px;
    margin-top:6vh;
    margin-bottom: 2vh;
    outline: 1px solid grey;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 2px;
}
button:hover{
    border: 2px solid grey;
}
button:active{
    border:3px solid grey;
}
select{
    width: 200px;
    height: 50px;
    border-radius: 15px;
    text-align: center;
    outline: 1px solid grey;
}
select:hover{
    color:  rgb(98, 0, 98);
}



.container > .options > form{
    background-color: rgb(155, 200, 155);
    border-radius: 15px;
    border-style:double;
    border-color:grey;

    
}
hr.rounded {
    border-top: 3px solid cadetblue;
    width: 75%;
  }

p{
    background-color: rgb(155, 200, 155);
    text-align: center;
    max-width: 75vw;
    font-size:20;
    flex-grow: 2;
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom:10px;
    border-style:double;
    border-color:grey;

}
.break {
    flex-basis: 100%;
    height: 0;
  }
#type{
  padding: 8px 16px;
  margin-top: 6vh;
  border: 1px solid transparent;
  border-color: transparent transparent grey transparent;
  cursor: pointer;
  font-size: 1.25rem;
}
  #answer,#answer2,#answer3{
    background-color: rgb(155, 200, 155);
    text-align: center;
    max-width: 75vw;
    font-size:20;
    flex-grow: 2;
    border-radius: 15px;
    padding-top: 3vh;
    padding-bottom:3vh;
    
  }
  
@media only screen and (max-width: 600px) {
    .container > .mainTitle{
        max-width: 95vw;
    }
    .container > .mainTitle{
        background-color: rgb(155, 200, 155);
        width: 95vw;
        max-width: 95vw;
        text-align: center;
        line-height: 50px;
        font-size: 30px;
        flex-grow: 2;
        border-radius: 15px;
        border-style:double
    
    }   
    .container > .options{
        width: 95vw;
        max-width: 95vw;
        height:55vh;
        text-align: center;
        line-height: 50px;
        font-size: 25px;
        border-radius:15px;
    }
    .header > .mainTitle{
        
            width: 95vw;
            max-width: 100vw;
            text-align: center;
            line-height: 75px;
            font-size: 30px;
            flex-grow: 2;
    }
    
    .container > .options{
        height: 50vh;
    }
    .container > .options > form{
        font-size: 18px;
        line-height: 40px;
        margin-top: 10px;
        margin-bottom: 10px;
        
    }
    button{
        min-height: 5vh; 
        margin-top: 5vh;
        margin-bottom: 5vh; 
        width: 70%; 
    }
   
    #type{
        font-size: 1.25rem;
        margin-top: 3vh;
    }
    #answer,#answer2,#answer3{
        background-color: rgb(155, 200, 155);
        text-align: center;
        max-width: 95vw;
        font-size:20;
        border-radius: 15px;
        padding-top: 1vh;
        padding-bottom:2vh;
        
      }
    p{
        background-color: rgb(155, 200, 155);
        text-align: center;
        max-width: 95vw;
        font-size:20;
        flex-grow: 2;
        border-radius: 15px;
        padding-top: 10px;
        padding-bottom:10px;
        border-style:double
    
    }
    
    
  }